<!-- <div class="background"> -->
  <!-- <div class="text-center my-3"  > 
    <img src='https://img.freepik.com/premium-vector/online-banking-technology-concept-illustration-bank-electric-circuit-lines-background_387612-43.jpg?w=2000' >
-->
    <!-- https://img.freepik.com/premium-vector/online-banking-technology-concept-illustration-bank-electric-circuit-lines-background_387612-43.jpg?w=2000 -->
    <div id="carouselExampleCaptions" data-interval="2" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
       
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://images.unsplash.com/photo-1601597111158-2fceff292cdc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="d-block w-100" alt="..."  height="700">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="text-light">Welcome To IPB Online Banking System</h1>
            <p class="text-light">The project simulates online banking system. It allows to register/login, deposit/withdraw money from accounts, add/edit recipients, transfer money between accounts and recipients, view transactions, make appointments.
              There are two roles user and admin.
              The admin has there own frontend implemented in Angular2, which communicates with backend through REST services.
              
              </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://media.istockphoto.com/photos/home-office-picture-id1254459991?k=20&m=1254459991&s=170667a&w=0&h=s7b81pRcVZcWDx5RZteyHqNUVOc_D7yB0TQ10yRYc4E=
          
          " class="d-block w-100" alt="..."   height="700">
          <div class="carousel-caption d-none d-md-block">
              <h1 class="text-light">Welcome To IPB Online Banking System</h1>
              <p class="text-light">The project simulates online banking system. It allows to register/login, deposit/withdraw money from accounts, add/edit recipients, transfer money between accounts and recipients, view transactions, make appointments.
                There are two roles user and admin.
                The admin has there own frontend implemented in Angular2, which communicates with backend through REST services.
                
                </p>
            </div>
        </div>


        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1582244026359-2687d83af971?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1149&q=80" class="d-block w-100" alt="..."   height="700">
          <div class="carousel-caption d-none d-md-block">
              <h1 class="text-light">Welcome To IPB Online Banking System</h1>
              <p class="text-light">The project simulates online banking system. It allows to register/login, deposit/withdraw money from accounts, add/edit recipients, transfer money between accounts and recipients, view transactions, make appointments.
                There are two roles user and admin.
                The admin has there own frontend implemented in Angular2, which communicates with backend through REST services.
                
                </p>
            </div>
        </div>


        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1488998527040-85054a85150e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="..."  height="700">
          <div class="carousel-caption d-none d-md-block">
              <h1 class="text-light">Welcome To IPB Online Banking System</h1>
              <p class="text-light">The project simulates online banking system. It allows to register/login, deposit/withdraw money from accounts, add/edit recipients, transfer money between accounts and recipients, view transactions, make appointments.
                There are two roles user and admin.
                The admin has there own frontend implemented in Angular2, which communicates with backend through REST services.
                
                </p>
            </div>
        </div>

        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1607697987724-fc9f8b225223?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" class="d-block w-100" alt="..."  height="700">
          <div class="carousel-caption d-none d-md-block">
              <h1 class="text-light">Welcome To IPB Online Banking System</h1>
              <p class="text-light">The project simulates online banking system. It allows to register/login, deposit/withdraw money from accounts, add/edit recipients, transfer money between accounts and recipients, view transactions, make appointments.
                There are two roles user and admin.
                The admin has there own frontend implemented in Angular2, which communicates with backend through REST services.
                
                </p>
            </div>
        </div>


        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1617870952348-7524edfb61b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="..."  height="700">
          <div class="carousel-caption d-none d-md-block">
              <h1 class="text-light">Welcome To IPB Online Banking System</h1>
              <p class="text-light">The project simulates online banking system. It allows to register/login, deposit/withdraw money from accounts, add/edit recipients, transfer money between accounts and recipients, view transactions, make appointments.
                There are two roles user and admin.
                The admin has there own frontend implemented in Angular2, which communicates with backend through REST services.
                
                </p>
            </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>