input.ng-invalid{
    border-left: 5px solid red;
  }
  
  input.ng-valid{
    border-left: 5px solid green;
  }
  
  .error{
    color: red;
  }
  .image{
    fill:aquamarine;
  background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: 800px;
  
  /* Set up positioning */
  
  }
  
  .container{
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
   align-items: center;
   width: 500px;
 
   
  }
  
  .btn-success{
    
    position: absolute;
    right: 47rem;
  }