
.background{
fill:aquamarine;
background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
display: flex;
flex-direction: column;
min-height: 100vh;

/* Set up proportionate scaling */
width: 100%;
height: auto;

/* Set up positioning */

top: 7rem;
left: 0; 
}


.search{
  position: absolute;
  right: 1rem;
  top: 4rem;
  width: 250px;
}



.table{
  border-color: blueviolet;
}